### python Basics
- Hello world
- Variables

In [1]:
print("hello world")

hello world

In [2]:
a=10
b=100.6
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [3]:
print(a)
print(b)

10
100.6

In [5]:
c="hello_python"
print(c)
print(type(c))

hello_python
<class 'str'>

In [6]:
a=100
print(a);

100

In [7]:
print(a)

100

In [8]:
d=5+3j
print(type(d))

<class 'complex'>

### Working with Input

In [12]:
name=input("enter the name:")
print("hello",end=' ')
print(name)

enter the name:moto
hello moto

## Reading numbers-->Typecasting

In [4]:
num =input("enter the number:")
print(type(num))
num=int(num)
print(type(num))
print("the square of the given number is:" + str(num*num))

enter the number:6
<class 'str'>
<class 'int'>
the square of the given number is:36

In [6]:
a=int(input("enter the number:"))
print(a)
print(type(a))
print("the square of the given number is:" + str(a*a))

enter the number:12
12
<class 'int'>
the square of the given number is:144

## More about print function

- format
- end and sep

In [9]:
print("I","love","python","code",sep="+")

I+love+python+code

In [12]:
a=10
b=20
print(a,end=" ")
print(b)

10 20

In [19]:
a="indians"
b="indian army"
print("{0} loves {1}".format(a,b))

indians loves indian army

In [25]:
a=10
b=20
c=30
print("You have entered %d,%d and %d"%(a,b,c))

You have entered 10,20 and 30

## if else conditions

In [6]:
wheather=input()
if wheather=="Rainy":
    print("don't go outside")
elif wheather=="Cool":
    print("let's play cricket")
else :
    print("let go for shoping")

Cool
let's play cricket

## Loops

In [10]:
i=1
while(i<10):
    print("step %d"%i)
    i=i+1
    
print("i am completed")

step 1
step 2
step 3
step 4
step 5
step 6
step 7
step 8
step 9
i am completed

In [12]:
for i in range(1,10,2):
    print(i,end=",")

1,3,5,7,9,

In [5]:
fact=7
ans=1
for i in range(1,6):
    ans *=i
    
print(ans)

120

In [5]:
n=5
for x in range (n) :
    for y in range (n) : 
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [7]:
n=int(input())



flag=0
print(type(n))
if n>1:
    for i in range (2,n) :
        if n%i==0 :
            flag=1
            break
    
    if flag==1 :
        print("the number is composite")
    else:
        print("the number is prime")
    
else:
    print("the number is not prime")

4
<class 'int'>
the number is composite

In [8]:
def myfunc(score,lang,rollno):
    print("i scored %d in %s"%(score, lang))
    print("the rollno :%d"%(rollno))
    
myfunc(lang="python",score=10,rollno=1010)

i scored 10 in python
the rollno :1010

## String and Builtin Methods

In [9]:
a="Coding blocks"
print(a)

Coding blocks

In [10]:
print(a[2])
print(a[7])

d
b

In [12]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])

s
k
c
o
l
b

In [13]:
print(len(a))

13

In [15]:
# string are not mutable
a="code blocks"
print(a)
a[2]='c'
print(a[2])

code blocks

TypeError: 'str' object does not support item assignment

In [19]:
for i in range(len(a)):
    print(a[i])

c
o
d
e

b
l
o
c
k
s

In [22]:
for c in a:
    print(c)

c
o
d
e

b
l
o
c
k
s

## Python-string-Operator,slicing

In [2]:
a="mango"
b="juice"
print(a+b)

mangojuice

In [3]:
print(a*5)

mangomangomangomangomango

In [4]:
#slicing
a[1]

'a'

In [5]:
#range slicing
a[1:-2]

'an'

In [6]:
a[ : ]

'mango'

In [7]:
a[-1: ]

'o'

In [8]:
a[-2: ]

'go'

In [9]:
a[1:3]

'an'

In [12]:
#Membership -(if substring is present in go  in a bigger string)
'go' in a

True

In [15]:
a="coding blocks"
b="cod"
if b in a:
    print("yes")
else:
    print("no")

yes

In [16]:
#string formatting
print("hi i like %s fruit and i love my %s country"%("mango","india"))

hi i like mango fruit and i love my india country

In [18]:
#Triple Quotes
para="""hi this is paragraph
writing performed by me  """
print(para)

hi this is paragraph
writing performed by me

## Python-Strings-Join , Replace ,find functions

In [40]:
#Some More String Functions and playing with substring
a="I love Apple juice and i love green apple"
a.find("Apple")

7

In [35]:
a.rfind("apple") #find word from right hand side

36

In [42]:
a.find("apple",30, len(a))

-1

In [44]:
a.find("apples") # if string is not present

-1

In [46]:
a.index("apple")

36

In [ ]:
#difference between a.index() vs a.find()
#find() return -1 if not found string
#index() throws exception if not found string

In [69]:
a=a.replace("Apple","mango")
print(a)

I love mango juice and i love green mango

In [70]:
print(a)

I love mango juice and i love green mango

In [71]:
a.count("mangoes")

0

In [72]:
a.count("mango")

2

In [78]:
l=a.split() #creating list out of string
print(l)

['I', 'love', 'mango', 'juice', 'and', 'i', 'love', 'green', 'mango']

In [82]:
"_".join(l)

'I_love_mango_juice_and_i_love_green_mango'

In [81]:
b="-"
b=b.join(l)
print(b)

I-love-mango-juice-and-i-love-green-mango

In [90]:
name_org='coding blocks'
name_org.title()

'Coding Blocks'

In [91]:
name_org.capitalize()

'Coding blocks'

## DATA STRUCTURES IN PYTHON

In [93]:
#Built in Datatypes
#1.List is like array , heterogeneous list

In [96]:
myList=[1,2,3,4,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3, 4, 'Hello']
<class 'list'>

In [97]:
l2=[1,2,3,4]
l3=list(l2)
print(l3)

[1, 2, 3, 4]

In [98]:
l3=l3+l2
print(l3)

[1, 2, 3, 4, 1, 2, 3, 4]

In [100]:
l3.extend(l2)
print(l3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [106]:
#List of square of number from 1 to 5
l4=[ i*i for i in range(1,6) ]
print(l4)

[1, 4, 9, 16, 25]

In [107]:
#List slicing
l4[0:4]

[1, 4, 9, 16]

In [108]:
l4[-3:]

[9, 16, 25]

In [113]:
# Insertion and Deletion
#append
l=[1,2,3]
l.append(4)
print(l)
l.append([2.1,2.2])
l+=[4,5,6]
print(l)
print(l[4])
print(l[4][1])

[1, 2, 3, 4]
[1, 2, 3, 4, [2.1, 2.2], 4, 5, 6]
[2.1, 2.2]
2.2

In [114]:
#remove
l.remove(2)
print(l)

[1, 3, 4, [2.1, 2.2], 4, 5, 6]

In [115]:
del l[0]
print(l)

[3, 4, [2.1, 2.2], 4, 5, 6]

In [116]:
l.pop() 
print(l)

[3, 4, [2.1, 2.2], 4, 5]

In [117]:
l=[1,2,3]
l=l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [118]:
l=["apple","mango","guava",80]
80 in l

True

In [119]:
for x in l:
    print(x)

apple
mango
guava
80

In [122]:
for i in l:
    print(i)

apple
mango
guava
80

In [124]:
#INSERT
l.insert(2,20) # position in which to insert element to which insert 
print(l)

['apple', 'mango', 20, 20, 'guava', 80]

In [127]:
#more functions on list
l=[4,3,2,1,18]
print(max(l))
print(min(l))

#linear search
print(l.index(18))
print(sorted(l))
print(l)

18
1
4
[1, 2, 3, 4, 18]
[4, 3, 2, 1, 18]

In [128]:
l=sorted(l)
print(l)

[1, 2, 3, 4, 18]

In [130]:
l=[4,5,3,2,1]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [132]:
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [136]:
numbers=input().split()
print(type(numbers))
print(numbers)

23 45 67 89
<class 'list'>
['23', '45', '67', '89']

In [139]:
numbers=[number for number in input().split()]
print(numbers)
print(type(numbers))

23 45 67 89 100
['23', '45', '67', '89', '100']
<class 'list'>

In [140]:
numbers=[int(number) for number in input().split()]
print(numbers)
print(type(numbers))

23 44 89 100
[23, 44, 89, 100]
<class 'list'>

In [141]:
numbers=[int(number)*int(number) for number in input().split()]
print(numbers)
print(type(numbers))

1 3 5 7
[1, 9, 25, 49]
<class 'list'>

## Dictionaries in python

In [143]:
d={"mango":100,"Grapes":80,"Banana":60 }
print(type(d))
print(d)

<class 'dict'>
{'mango': 100, 'Grapes': 80, 'Banana': 60}

In [149]:
#look up
print(d["mango"])

100

In [151]:
d["guava"]=70
print(d)

{'mango': 100, 'Grapes': 80, 'guava': 70, 'Banana': 60}

In [152]:
d["grapes"]=[10,20]
print(d["grapes"])

[10, 20]

In [159]:
d["apple"]={"small_apple":75,"Big_apple":120}
print(d["apple"]["small_apple"])

75

In [160]:
print(d.keys())

dict_keys(['Grapes', 'grapes', 'mango', 'apple', 'guava', 'Banana'])

In [161]:
print(d.values())

dict_values([80, [10, 20], 100, {'small_apple': 75, 'Big_apple': 120}, 70, 60])

In [166]:
print(d.get("Mangoes"))# if mangoes are not present in dictionary
print(type(d.get("Mangoes")))
print(d["mangoes"]) # it throws an exception mangoes is not present in dictionary

None
<class 'NoneType'>

KeyError: 'mangoes'

In [177]:
if "mangoes"  in d :
    print("the price of mangoes is %d"%(d["mango"]))
else:
    print("Does'not exist")

Does'not exist

In [181]:
if "mango"  not in d :
    print("the price of mangoes is %d"%(d["mango"]))
else:
    print("Does'not exist")

Does'not exist

In [182]:
#items()
print(d.items())

dict_items([('Grapes', 80), ('grapes', [10, 20]), ('mango', 100), ('apple', {'small_apple': 75, 'Big_apple': 120}), ('guava', 70), ('Banana', 60)])

In [190]:
del d["strawbery"]
l=list(d.items())
print(l)

[('Grapes', 80), ('grapes', [10, 20]), ('mango', 100), ('strawberry', 200), ('apple', {'small_apple': 75, 'Big_apple': 120}), ('Banana', 60)]

In [187]:
d2={"strawbery":200}
d.update(d2)
print(d)

{'strawbery': 200, 'Grapes': 80, 'grapes': [10, 20], 'mango': 100, 'strawberry': 200, 'apple': {'small_apple': 75, 'Big_apple': 120}, 'Banana': 60}

In [188]:
print(len(d))#printing length of Dictionary

7

In [192]:
# printing element of Dictionary
for k in d.keys():
    print(k)

Grapes
grapes
mango
strawberry
apple
Banana

In [193]:
for k in d.values():
    print(k)

80
[10, 20]
100
200
{'small_apple': 75, 'Big_apple': 120}
60

### tuples in python

In [197]:
#tuples are immutable
t=(1,2,3,"hello")
print(t)
#t[0]=5
print(t[0])

(1, 2, 3, 'hello')
1

In [200]:
# convert  tupple into list
l=list(t)
print(l)
l[0]=5 
print(l)

[1, 2, 3, 'hello']
[5, 2, 3, 'hello']

In [204]:
# convert list into tupple
t1=tuple(l)
print(t)

(5, 2, 3, 'hello')

In [206]:
print(t+t1) #concatenating tupples

(5, 2, 3, 'hello', 5, 2, 3, 'hello')

In [207]:
print(t*3)#repetion

(5, 2, 3, 'hello', 5, 2, 3, 'hello', 5, 2, 3, 'hello')

In [208]:
print(len(t))

4

In [211]:
t=(1,2,3,4)
print(max(t))

4

In [212]:
print(min(t))

1

In [213]:
del t
print(t)

NameError: name 't' is not defined

## SET DATA STRUCTURES

In [217]:
s=set([1,2,3,1,5,6])
print(s)

{1, 2, 3, 5, 6}

In [216]:
s2={5,7,11,1,5}
print(s2)

{1, 11, 5, 7}

In [219]:
s.union(s2) # union

{1, 2, 3, 5, 6, 7, 11}

In [220]:
s | s2 # union

{1, 2, 3, 5, 6, 7, 11}

In [221]:
s & s2

{1, 5}

In [222]:
s.intersection(s2)

{1, 5}

In [224]:
s.add(50)

In [225]:
s-s2

{2, 3, 6, 50}

In [226]:
s.difference(s2)

{2, 3, 6, 50}

In [227]:
s.clear()
print(s)

set()

In [232]:
if 7 in s:
    print("present")
else:
    print("not present")

not present

In [233]:
s^s2 # to print element which are in the on of the sets

{1, 5, 7, 11}

In [234]:
a={1,2,3,4,5}# to print element which are in the on of the sets
b={1,2,3,6,7}
a^b

{4, 5, 6, 7}